.breadcrumbs-wrapper {
  background-color: var(--breadcrumbs-bg-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;

  .breadcrumb-link {
    color: var(--accent-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-separator {
    color: var(--secondary-text-color);
  }

  .breadcrumb-current {
    color: var(--secondary-text-color);
  }
}
