.footer {
  background-color: var(--header-bg-color);
  border-top: 1px solid var(--border-color);
  padding: 20px 0;

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-copy {
      color: var(--secondary-text-color);
    }

    .footer-github {
      color: var(--accent-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
